body {
    margin: 0;
}

.header {
    background: black;
    padding:2px;
    color:white;
    margin:0px;
    text-align:center;
}

.fimage-container {
    text-align:center;
    color:white;
    font-family: Arial;
    position:relative;
    
}

.fpage-image {
    width: 1125px;
    height:auto;
    z-index:-1000;
}

.sections {
    display:flex;
    justify-content:center;
    font-family: Arial;
    gap:100px; 
}

.sections button {
    letter-spacing: 1px;
    border:0;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom:1px;
    background:white;
    margin:16px;
    
}

.sections button:hover {
    cursor: pointer;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.button {
    position: absolute;
    padding: 10px;
    inset:0;
    margin:330px auto;
    width:120px;
    height:20px;
    border: 1px solid white;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:white;
    transition:0.3s;
    cursor: pointer;
}

.button:hover{
    scale: 1.2;
}

.letter-container {
    color:white;
    position:absolute;
    inset:0;
    margin:200px auto;
    text-transform: uppercase;
    font-size:50px;
    cursor:default;
}

.letter-container div {
    display:inline-block;
    transition: 0.2s;
    padding:5px;
}

.letter-container div.active {
    transform:translateY(-25%);

}

.title {
    letter-spacing: 20px;
    font-size:50px;
}   

.grid-container {
    display:grid;
    margin:60px 0px;
    grid-template-columns: repeat(3, 500px);
    grid-template-rows: repeat(1, 400px);
    justify-content:center;
    grid-gap:40px;
}

.dropdown {
    position:relative;
}

.dropdown-menu {
    position:absolute;
    left:0;
    top: calc(100% + 0.5rem);
    padding: .75rem;
    background-color:white;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgb(0,0,0, 0.1);
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events:none;
    z-index:1;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    /* allows pointer events when visible */
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links {
    display:flex;
    flex-direction: column;
    gap: .5rem;
}

.dropdown-heading {
    margin-bottom:20px;
}

a:link {
    text-decoration: none;
    color:gray;
}

a:visited {
    color: gray;
}

a:hover {
    color: black;
}

.grid-item {
    overflow: hidden;
    position:relative;
}

.grid-item img {
    transition:0.3s;
    position:relative;
    z-index: -1;
    
}

.grid-item img.active {
    scale:1.2;
    cursor:pointer;
    filter:blur(2px);
}

div > .image-cover {
    position:absolute;
    display:flex;
    z-index: 10;
    height:100%;
    width:100%;
}